{% extends "layout.twig" %}
{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <div id="panier-content" class="" >
                <h1 class="text-center" >PANIER</h1>

                <div class="col-lg-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
                        <ol class="breadcrumb">
                            <li><a href="home">Acceuil</a></li>
                            <li class="active">Panier</li>
                        </ol>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 text-right">
                        <a title="retour" href="home"><img class="arrow" src="assets/img/back57.png"></a>
                    </div>
                </div>
                <div class='clear'>
                {% if itemsPanier is empty %}
                    <div class='col-lg-12'>
                        <p class='text-center panier-vide' >Votre panier est vide pour le moment, nous vous invitons à commander en allant à la page <a href='produit'>produits</a></p>
                    </div>
                {% else %}
                    <div class="row">
                        {% for itemPanier in itemsPanier %}
                            <div class="col-lg-12">
                                <div class="article-panier">
                                    <div class="col-lg-6">
                                        <p class="article-libelle" >{{ itemPanier.libelle }}</p>
                                        <img src="tools/thumbnailer.php?src=../assets/img/Produits/{{ itemPanier.image }}&w=150&h=150&method=scale-min ">

                                    </div>
                                    <div class="col-lg-6">
                                        <p class="article-code"><strong>Code article : </strong>{{ itemPanier.code }}</p>
                                        <p class="article-qte"><strong>Quantité :</strong> {{ itemPanier.qte }}</p>
                                        <p class="article-prix"><strong> Prix unité :</strong> {{ itemPanier.prix }} €</p>
                                        <p class="article-tva"><strong> TVA  : </strong> {{ itemPanier.tva }} % </p>
                                        <p class="article-prix-total"><strong>Prix total : </strong> {{ itemPanier.prix * itemPanier.qte }} € HT</p>
                                        <a href="panier.php?action=deleteArticle&ref={{ itemPanier.code }}" class="btn-sm btn btn-warning">Supprimer article</a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="panier-confirm col-lg-12">
                        <a href="panier.php?action=deleteCart" class=" btn-md btn btn-danger col-lg-3">Annuler la commande</a>
                        <div>
                            <p class='col-lg-3 col-lg-offset-3 article-prix-total'><strong>Total : </strong>{{ montantTTC }} € TTC</p>
                        </div>
                        <a class=" btn-md btn btn-success col-lg-3" href="panier.php?action=confirmCart">Valider la commande</a>
                    </div>
                {% endif %}
            </div>
        </div>


    {% endblock %}