{% extends "layout.twig" %}
{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <div id="produit-content" class="commande" >
                <h1 class="text-center" >PRODUITS</h1>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
                    <ol class="breadcrumb">
                        <li><a href="home">Acceuil</a></li>
                        <li class="active">Produits</li>
                    </ol>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5 text-right">
                    <a title="retour" href="home"><img class="arrow" src="assets/img/back57.png"></a>
                </div>
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Differents produits</h3>
                            <p>Chaque fois que vous selectionner un produit vous devez cliquer sur le button jeune</p>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="datatable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Libelle article</th>
                                        <th>Famille</th>
                                        <th>Code article</th>
                                        <th>Prix </th>
                                        <th>Unite</th>
                                        <th>Panier</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for article in articles %} 
                                        <tr>
                                            <td><img src="assets/img/Produits/{{ article.getImage}}" alt="{{ article.getLibelleArticle}}"></td>
                                            <td>{{ article.getLibelleArticle}}</td>
                                            <td>{{ article.getFamille}}</td>
                                            <td>{{ article.getCodeArticle}}</td>
                                            <td>{{ article.getPrix}} € <br /><span class="help-block"><i> TVA : {{ article.getTVA}}</i></span></td>
                                            <td>{{ article.getUnite}}</td>
                                            <td >
                                                <form id="form-add-panier-{{ article.getCodeArticle}}" method="post" >
                                                    <input class="form-control" type="hidden" name="code-produit" value="{{ article.getCodeArticle }}" />
                                                    <div class="col-lg-6">
                                                        <input class=" form-control"  type="number" name="nb-produit" style="width:75px" min='1'/>
                                                     </div>
                                                    <div class="col-lg-6">
                                                        <button type="submit" class="button--moema button--inverted"><img title="ajouter au panier " class="btn-image" src="assets/img/shopping-small.png"> </button>
                                                    </div>
                                                </form>
                                            </td>
                                    <script>
                                        $(document).ready(function () {
                                                      
                                            $('#form-add-panier-{{ article.getCodeArticle}}').on('submit', function (e) {
                                                e.preventDefault();

                                                $.ajax({
                                                    url: "ajax/addPanier",
                                                    method: 'POST',
                                                    dataType: 'json',
                                                    data: $(this).serialize(),
                                                    success: function (data, status) {
                                                        $.each(data, function (i, val) {

                                                            if (val === "success")
                                                                $('#panier-modal').modal();
                                                                
                                                        });
                                                    }
                                                });

                                            });
                                        });
                                    </script>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Image</th>
                                        <th>Libelle article</th>
                                        <th>Famille</th>
                                        <th>Code article</th>
                                        <th>Prix </th>
                                        <th>Unite</th>
                                        <th>Panier</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
            <div id="panier-modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Ajoute Panier</h4>
                        </div>
                        <div class="modal-body">
                            <p>L'article a bien été ajouter au panier ! </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Continuer vos achats</button>
                            <a href="panier" type="button" class="btn btn-primary">Voir le panier</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

    {% endblock %}